<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Ninja Gold</title>
</head>
<body>
	<div id='farmdiv'>
	<form action="/process_money" method="post">
		<h3>Farm</h3>
		<p>earns 20-30 gold</p>
		<input type="hidden" name="roll" value="farmval">
		<input type="submit" value="Find Gold"/>	
	</form>
	<form action="/process_money" method="post">
		<h3>Cave</h3>
		<p>earns 10-20 gold</p>
		<input type="hidden" name="roll" value="caveval">
		<input type="submit" value="Find Gold"/>	
	</form>
	<form action="process_money" method="post">
		<h3>House</h3>
		<p>earns 1-5 gold</p>
		<input type ="hidden" name="roll" value="houseval">
		<input type="submit" value="Find Gold"/>
	<form action="process_money" method="post">
		<h3>Casino</h3>
		<p>earns -20 or 50 gold</p>
		<input type="hidden" name="roll" value="casinoval">
		<input type="submit" value="Find Gold"/>
	</div>
</body>
</html>